[submodule "px4_msgs"]
	path = px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/micro_ros_setup"]
	path = src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
[submodule "ROS2_PX4_Offboard_Example"]
	path = ROS2_PX4_Offboard_Example
	url = git@github.com:ARK-Electronics/ROS2_PX4_Offboard_Example.git
