[submodule "px4_msgs"]
	path = px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/micro_ros_setup"]
	path = src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
[submodule "ROS2_PX4_Offboard_Example"]
	path = ROS2_PX4_Offboard_Example
	url = git@github.com:ARK-Electronics/ROS2_PX4_Offboard_Example.git
[submodule "src/optimizer/gauss_splat_plan"]
	path = src/optimizer/gauss_splat_plan
	url = git@github.com:idra-lab/gauss_splat_plan.git
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git
[submodule "src/octomap_mapping"]
	path = src/octomap_mapping
	url = git@github.com:OctoMap/octomap_mapping.git
	branch = ros2
[submodule "src/octomap_msgs"]
	path = src/octomap_msgs
	url = git@github.com:OctoMap/octomap_msgs.git
	branch = ros2
[submodule "src/octomap_ros"]
	path = src/octomap_ros
	url = git@github.com:OctoMap/octomap_ros.git
	branch = ros2
[submodule "src/PUMA_ros"]
	path = src/PUMA_ros
	url = git@github.com:tamasso-parec/PUMA_ros.git